<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div > h3 {text-align: center; margin-top: 20px;}
        div > table {margin: 3% 15% ;}
        div > table {
            text-align:center; 
            width: 70%;
        }
    </style>
    <script src="/static/js/reply_view.js"></script>
    <script>
        window.onload = () => {
            const num = document.getElementById("number")
            console.log("number : ", num)
            console.log("number : ", num.innerHTML)
            init(num.innerHTML)
        }
    </script>
</head>
<body>
    <%- include("../default/header.ejs") %>
    <%- include("./reply_form.ejs") %>
    <div>
        <h3>- 개 인 정 보 -</h3>
        <table border="1">
            <tr>
                <th>글 번호</th><td id="number"><%= index.WRITE_NO %></td>
                <th>작성자</th><td><%= index.ID %></td>
            </tr>
            <tr>
                <th>제목</th><td><%= index.TITLE %></td>
                <th>등록일자</th><td><%= index.SAVE_DATE %></td>
            </tr>
            <tr>
                <th>내용</th><td><%= index.CONTENT %></td>
                    <th colspan="2">
                        <% if(!index.CHANGE_FILE_NAME){ %>
                            이미지가 없습니다
                        <% }else{ %>
                            <img src="/board/file_down?img=<%= fileName %>" width="100" height="100" id="img">
                        <% } %>
                    </th>
            </tr>
            <tr>
                <td colspan="4">
                    <button type="button" onclick="location.href='/board/modify_form?no=<%= index.WRITE_NO %>'">수정하기</button>
                    <button type="button" onclick="location.href='/board/del?no=<%= index.WRITE_NO %>'">삭제하기</button>
                    <button onclick="reply_form()">답글달기</button>
                    <button type="button" onclick="location.href='/board/list'">리스트로 돌아가기</button>
                </td>
            </tr>
            <tr>
                <td colspan="4" id="content"></td>
            </tr>
        </table>
    </div>
    
</body>
</html>